.survey-user-form.primary-form-type.full-page-form.using-blocks
  .block.as-section
    .form-inputs

      .main-section

        %h1 #{f.object.survey_page.title}
        %hr

        - f.object.survey_page.survey_items.in_order.each do |survey_item|
          .col-sm-6.clear
            = render "hummingbird_survey/common/survey/answer_item", f: f, survey_item: survey_item

        .clear
        %hr
        = f.submit "#{@survey_page.last_page? ? "COMPLETE" : "NEXT"}", :class => "btn btn-primary btn-lg pull-right"
