.response-block
  .question-text
    = item_options["label"]
  .response
    - if item_options["value"].include?("data:image")
      = image_tag(item_options["value"])
    - else
      = item_options["value"]
