.page-content-head
  %h1 New survey_page

  .button-group
    = link_to 'Back', edit_staff_survey_path(@survey), class: "back-button btn btn-primary button-group-item"

.primary-form-type.full-page-form.using-blocks= render 'form', target_path: staff_survey_pages_path(@survey), target_method: "post"
