.page-content-head
  %h1 Editing Survey Item

  .head-controls.button-group
    = link_to 'back', edit_staff_survey_path(@survey), class: "back-button btn btn-primary button-group-item sm-half"

.primary-form-type.full-page-form.using-blocks= render "form", form_action: "Edit"
