.page-content-head
  %h1 Editing Survey

  .button-group
    = link_to "Add New Page", new_staff_survey_page_path(@survey), class: "btn btn-primary button-group-item align-right"

.primary-form-type.full-page-form.using-blocks= render 'form'
