.page-content-head
  %h1 Editing survey_section

  .button-group
    = link_to 'Back', edit_staff_survey_path(@survey), class: "back-button btn btn-primary button-group-item"
    = link_to 'Show', staff_survey_section_path(@survey, @survey_section), class: "btn btn-secondary button-group-item align-right"

.primary-form-type.full-page-form.using-blocks= render 'form'
